# Nextflow
.nextflow/
.nextflow.log*
work/
results_test/

# Dados brutos (nunca commitar FASTQs)
data/*.fastq.gz
data/*.fastq
data/*.fq.gz
data/*.fq
data/*.fa
data/*.fasta
*.fa.gz
*.fna.gz

# Genoma e índices (grandes demais)
*.ht2
*.ht2l
*.bt2
*.bt2l
genome/

# Logs
logs/
*.log

# R temporário
.Rhistory
.RData
.Rproj.user/

# Sistema
.DS_Store
Thumbs.db
__pycache__/
*.pyc
